{% extends "anime/bases/bases.html" %}


{% block body %}
  <div class="row row-cols-1 row-cols-md-3">
    {% for a in anime %}
      <div class="col mb-4">
        <div class="card">
          <img class="card-img-top" src="{{ a.image.url }}" alt="">
          <div class="card-body p-0">
            <h5 class="card-title m-0">Аниме: {{ a.name }}</h5>
            <h6 class="card-subtitle m-0">Статус: {{ a.status }}</h6>
            <p class="card-text m-0">Рецензия: {{ a.description }}</p>
            <p class="list-group-item m-0 p-0">Жанр:
              {% for genre in a.genres.all %}
                {{ genre.name }}{% if not forloop.last %},<br>{% endif %}
              {% endfor %}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item m-0 p-0">Рейтинг: {{ a.rating }}</li>
            <li class="list-group-item m-0 p-0">Студия: {{ a.studios }}</li>
            <li class="list-group-item m-0 p-0">Автор поста:{{ a.author }}</li>
            {% for dubbing in a.dubbing.all %}
              <li class="list-group-item m-0 p-0">Смотрел в озвучке: {{ dubbing.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}