{% extends "students/base.html" %}

{% block body %}
        <h3 class="m-4">Все студенты</h3>
        <div class="row">
            <div class="col=12">
                {% if students %}
                <div class="card border-light mb-4 ms-4 me-4">
                    <div class="card-header">
                        <i class="fa-solid fa-list fa-lg"></i>Студенты
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Номер студента</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Изучает</th>
                                    <th scope="col">Средний балл</th>
                                    <th scope="col">Кнопки</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.number }}</td>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.last_name }}</td>
                                        <td>{{ student.email }}</td>
                                        <td>{{ student.study }}</td>
                                        <td>{{ student.gpa }}</td>
                                        <td>
                                          <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="
                                          #myModal{{student.id}}">
                                          <i class="fa-solid fa-info"></i>
                                        </button>
                                        <a href="{% url 'delete_student' student.id %}" class="btn btn-danger">Удалить</a>

                                        <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title">Студент: {{student.name}} {{student.last_name}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true"></span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <ul class="list-unstyled">
                                                  <li>Номер студента: {{student.number}}</li>
                                                  <li>Изучает: {{student.study}}</li>
                                                  <li>Средний балл {{student.gpa}}</li>
                                                </ul>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                      </p>
                    </div>
                  </div>
                {% else %}
                <h5>Никто не хочет учиться</h5>
                {% endif %}
            </div>
        </div>
{% endblock %}